.banner {
    position: relative;
    width: 1226px;
    height: 460px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-pointer {
    position: absolute;
    color: #b8c3cb;
    width: 40px;
    height: 70px;
    line-height: 70px;
    /* border: 1px solid #333; */
    top: 50%;
    margin-top: -45px;
    cursor: pointer;
    /* z-index: 999; */
}

.banner-pointer:hover {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.banner-pointer .iconfont {
    font-size: 30px;
}

.banner-pointer-left {
    left: 234px;
}

.banner-pointer-right {
    right: 0px;
}

.banner-dots {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.banner-dots span {
    background: rgba(255, 255, 255, .3);
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 50%;
    cursor: pointer;
}

.banner-dots .banner-dots-selected {
    background: rgba(0, 0, 0, .4);
    border-color: rgba(255, 255, 255, .3);
}

/* banner-menu */
.banner-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 100%;
    background: rgba(105, 101, 101, .6);
    padding: 20px 0;
}

.banner-menu-item {
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 20px;
    color: #fff;
    cursor: pointer;
}

.banner-menu li:hover .banner-menu-item {
    background: #ff6700;
}

.banner-menu li:hover .banner-sub-menu {
    display: block;
}

.banner-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 100%;
    background: #fff;
}

.banner-sub-menu a {
    width: 25%;
    height: 16.666%;
    padding: 0 20px;
}

.banner-sub-menu img {
    width: 40px;
    height: 40px;
    margin-top: 17px;
    margin-right: 12px;
}

.banner-sub-menu span {
    width: 154px;
    margin-top: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}